<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0zQORRPl59lCFfNdb0E5kMtg5jBr3hVU</string>
	<key>GCM_SENDER_ID</key>
	<string>88055548058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.padc.socialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>social-media-app-67290</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-app-67290.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88055548058:ios:d4c571ed537ed5ff1fb723</string>
</dict>
</plist>